// Define variables for your color scheme

// For example:
$red: #FD8B7B;
$blue: #469AE0;
$yellow: #f9cb5a;
$orange: #E67E22;
$green: #00CEAD;
$gray: #c7cfd5;
$light-gray: #fafafa;
$light-yellow: #fefaf0;
