<h1>User#welcome</h1>

<p> Hi <%= @user.mailer %> </p>
<p>Thanks for signing up for helpiness</p>
<p>We are here to help if you need any help. Indeed, you have helped yourself by signing up to helpiness. Congrats.</p>
<p>So, anything you need help with, we've got you covered.</p>
<p>Cheers,</p>
<p>The Helpiness Team</p>
