<div class="team-block bg-gray has-number number-counter">
  <div class="container">
    <div class="text-center row">
      <div class="section-number-wrap">
        <span class="section-number"></span>
        </div>
        <div class="col-xs-6 col-ms-6 col-sm-6 col-md-3">
          <figure>
            <div class="team-card">
              <div class="card-front">
                <img src="/img/team/stefan-hartwig.jpg" alt="Stefan Hartwig - Founder & Chief Creative Officer" height="235" width="235">
              </div>
              <div class="card-back">
                <img src="/img/team/stefan-hover.gif" alt="Stefan Hartwig" height="235" width="235">
              </div>
            </div>
            <figcaption>
              <span class="heading-quaternary">Stefan Hartwig</span>
              <span class="heading-quinary">Founder & Chief Creative Officer</span>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-ms-6 col-sm-6 col-md-3">
          <figure>
            <div class="team-card">
              <div class="card-front">
                <img src="/img/team/michael-lehmkuhl.jpg" alt="Michael Lehmkuhl - Founder & Chief Technology Officer" height="235" width="235">
              </div>
              <div class="card-back">
                <img src="/img/team/michael-hover.gif" alt="Michael Lehmkuhl" height="235" width="235">
              </div>
            </div>
            <figcaption>
              <span class="heading-quaternary">Michael Lehmkuhl</span>
              <span class="heading-quinary">Founder & Chief Technology Officer</span>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-ms-6 col-sm-6 col-md-3">
          <figure>
            <div class="team-card">
              <div class="card-front">
                <img src="/img/team/aaron-mentele.jpg" alt="Aaron Mentele - Chief Executive Officer" height="235" width="235">
              </div>
              <div class="card-back">
                <img src="/img/team/aaron-hover.gif" alt="Aaron Mentele" height="235" width="235">
              </div>
            </div>
            <figcaption>
              <span class="heading-quaternary">Aaron Mentele</span>
              <span class="heading-quinary">Chief Executive Officer</span>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-6 col-ms-6 col-sm-6 col-md-3">
          <figure>
            <div class="team-card">
              <div class="card-front">
                <img src="/img/team/angela-hartwig.jpg" alt="Angela Hartwig - Director of Finance" height="235" width="235">
              </div>
              <div class="card-back">
                <img src="/img/team/angela-hover.gif" alt="Angela Hartwig" height="235" width="235">
              </div>
            </div>
            <figcaption>
              <span class="heading-quaternary">Angela Hartwig</span>
              <span class="heading-quinary">Director of Finance</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
