<div class="helpies-card">
  <div class="helpie-image"><%= image_tag "helpie-hand.png", width: 140 %></div>
  <h1 class="helpie-count"><%=current_user.helpies%></h1>
    <!-- <div class="helpies-container">
      <h4>You have <%= current_user.helpies%> helpies</h4>
    </div> -->
  </div>

