<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
        <strong><h1>Team</h1></strong>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3 about-card">
      <%= image_tag "manu.jpg", class: "about-pic" %>
      <div>
        <figcaption>
          <strong><span>Emmanuel Mawutor</span></strong>
        </figcaption>
        <figcaption>
          <em><span>Dancing at my beat</span></em>
        </figcaption>
        <figcaption>
          <span>Developer</span>
        </figcaption>
      </div>
    </div>
    <div class="col-md-3 about-card">
      <%= image_tag "maxime.jpg", class: "about-pic" %>
      <div>
        <figcaption>
          <strong><span>Maxime Guerin</span></strong>
        </figcaption>
        <figcaption>
          <em><span>This too shall pass</span></em>
        </figcaption>
        <figcaption>
          <span>Developer</span>
        </figcaption>
      </div>
    </div>
    <div class="col-md-3 about-card">
      <%= image_tag "lucinda.jpg", class: "about-pic" %>
      <div>
        <figcaption>
          <strong><span>Lucinda Redfern</span></strong>
        </figcaption>
        <figcaption>
          <em><span>I'll see it when I believe it</span></em>
        </figcaption>
        <figcaption>
          <span>Developer</span>
        </figcaption>
      </div>
    </div>
    <div class="col-md-3 about-card">
      <%= image_tag "jeremy.jpg", class: "about-pic" %>
      <div>
        <figcaption>
          <strong><span>Jeremy Borger</span></strong>
        </figcaption>
        <figcaption>
          <em><span>Enough is Enough</span></em>
        </figcaption>
        <figcaption>
          <span>Developer</span>
        </figcaption>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
        <em><h1>"When we give cheerfully and accept gratefully, everyone is blessed"</h1></em> <h3>-Maya Angelou</h3>
    </div>
  </div>
</div>

