<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,153,74,0.6) 0%, rgba(242,201,76,0.6) 50%), url('<%= image_url "background.jpg" %>');">
  <div class="banner-content">

    <div class="titre">
      <h1>Need help ?</h1>
    </div>
    <h1><span id="banner-typed-text"></span></h1>

    <p></p>
    <br>

    <% if user_signed_in? %>
    <%= render "services/search_form" %>
    <% else %>
    <a href="/accounts/sign_up" class="btn-yours">Come in !</a>
    <% end %>
  </div>
</div>




