
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <%= image_tag "helpster", width: 250 %>
    </div>

    <div class="col-xs-12 col-sm-8">






      <form id="example-form" action="/users" method="post">
        <div id="wizard">
          <h3>Name</h3>
          <section>
              <legend>Account Information</legend>

              <label for="userName-2">First, let's get to know each other. What's your name ?</label>
              <input id="userName-2" name="userName" type="text" class="required">

          </section>

          <h3>University</h3>
          <section>
              <legend>University Information</legend>

              <label for="userName-2">What university are you in ?</label>
              <input id="userName-2" name="userName" type="text" class="required">

          </section>

          <h3>Field</h3>
          <section>
              <legend>Field Information</legend>

              <label for="userName-2">What do you study ?</label>
              <input id="userName-2" name="userName" type="text" class="required">

          </section>

          <h3>Teaching</h3>
          <section>
              <legend>Teaching Information</legend>

              <label for="userName-2">Do you want to teach X ?</label>
              <input id="userName-2" name="userName" type="text" class="required">

          </section>

          <h3>Hobbies</h3>
          <section>
              <legend>Hobbies Information</legend>

              <label for="userName-2">What are your hobbies ?</label>
              <input id="userName-2" name="userName" type="text" class="required">

          </section>

          <h3>Help</h3>
          <section>
              <legend>Help Information</legend>

              <label for="userName-2">What are the activities in which you can help your buddies ?</label>
              <input id="userName-2" name="password_confirmation" type="text" class="required">

          </section>

          <h3>Email</h3>
          <section>
              <legend>Email Information</legend>

              <label for="userName-2">What's your email ?</label>
              <input id="userName-2" name="email" type="text" class="required">

          </section>

          <h3>Password</h3>
          <section>
              <legend>Account Information</legend>

              <label for="userName-2">Great ! Now choose your password to finalize your account ?</label>
              <input id="userName-2" name="password" type="text" class="required">

          </section>
        </div>
      </form>
    </div>
  </div>
  <h3>Already have an account ? Login !</h3>
</div>

<%= content_for :body_js do %>
  <script>
    var gevent;
    $("#wizard").steps({
      headerTag: "h3",
      bodyTag: "section",
      transitionEffect: "slideLeft",
      onFinishing: function (event, currentIndex) {
        $("#example-form").submit();
        return true;
      }
    });
  </script>
<% end %>

