<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,153,74,0.6) 0%, rgba(242,201,76,0.6) 50%), url('<%= image_url "background.jpg" %>');">
  <div class="banner-content">
    <h1>Exchange a service for Helpies,</h1>
    <h3>Exchange your Helpies for a service.</h3>
    <p></p>
    <a href="/accounts/sign_up" class="btn-yours">Let's do it!</a>
  </div>
</div>
