<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,153,74,0.6) 0%, rgba(242,201,76,0.6) 50%), url('<%= image_url "background.jpg" %>');">
  <div class="banner-content">
    <h1 id="typed-js-home"><span id="banner-typed-text"></span></h1>
    <p></p>
    <a href="/accounts/sign_up" class="btn-yours">Let's do it!</a>
  </div>
</div>
