.banner {
  display: flex;
  background-size: cover;
  height: 93vh;
  justify-content: center;
  align-items: center;
}

.banner-content {
  font-size: larger;
  color: white;
  text-align: center;
  font-weight: bold;
}

.banner-content p {
  margin-bottom: 50px;
}

.show-banner {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.show-banner-price {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 40px;
}


.service-show-description {
width: 700px;        /* Set the width */
margin: 0 auto;      /* Set automatic margins on right/left */
}

.banner h1 {
  font-family: 'Quicksand', sans-serif;
}
