.banner {
  display: flex;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-item: center;
  margin: 0 auto;
}

.banner-content {
  font-size: larger;
  color: white;
  text-align: center;
}



.show-banner {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.show-banner-price {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 40px;
}

.service-show-description {
width: 700px;        /* Set the width */
margin: 0 auto;      /* Set automatic margins on right/left */
}
