.service-card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 225px;
    height: 305px;
    margin: 20px auto;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 3px 3px 10px #c8c8c8;
    transition: box-shadow 0.3s ease;
  }

.card-category {
  position: absolute;
  bottom: 110px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: grey;
}

.card-description {
  position: absolute;
  margin: 0px 8px;
  font-size: 9px;
  bottom: 70px;
  text-transform: uppercase;
  text-align: left;
  color: grey;
}

.card-price {
  position: absolute;
  bottom: 110px;
  right: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: grey;
}

.card-name {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #4a9da5;
  text-transform: uppercase;
  font-size: 16px;
}

.card-link:hover {
  opacity: 0.1;
}

.card-img {
  position: absolute;
  top: 20px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 5px;
}

.service-card img {
  border-radius: 5px;
}


.testimonial-card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 355px;
    height: 180px;
    margin: 20px auto;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 3px 3px 10px #c8c8c8;
    transition: box-shadow 0.3s ease;
    margin-bottom: 120px;
  }

.card-mec {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #4a9da5;
  text-transform: uppercase;
  font-size: 18px;
}

.card-cont {
  position: absolute;
  margin-left: 10px;
  margin-right: 40px;
  font-size: 14px;
  top: 60px;
  text-align: left;
  color: grey;
  font-style: italic;
  text-align: justify;
}

