.helpies-card {
  width: 200px;
  position: relative;
}

.helpie-image {
  text-align: center;
}

.helpie-count {
  position: absolute;
  font-size: 34px;
  left: 85px;
  bottom: 0px;
  color: #f9cb5a;
}


