.helpies-card {
  width: 200px;
  position: relative;
}

.helpie-image {
  text-align: center;
}

.helpie-count {
  position: absolute;
  font-size: 24px;
  left: 88px;
  top: 45px;
  color: #f9cb5a;
}


