.inbox-head {
  box-shadow: 3px 3px 50px #e6e4e7;
  border-radius: 0px;
  background: #fafafa;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sr-btn {
  background: #e5ac00;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
}

.input-append {
  margin-top: 30px;
}

.inbox-content {
  box-shadow: 3px 3px 50px #e6e4e7;
  border-radius: 0px;
  background: #fafafa;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
