.row-intro {
  position: relative;
}

.service-show-description {
  position: absolute;
  top: 200px;
  margin: 40px;
  text-align: justify;
  color: #696969;
;}





h1 {
  padding-bottom: 20px;
}



